{% extends "main.html" %}
{% block content %}

<h1>Item catalog</h1>

<p>
<a href="{{ url_for('hello') }}">Back to hello</a>
</p>

<p>
<a href="{{ url_for('view_catalog_json') }}">View json</a>
</p>

<p>
<a href="{{ url_for('new_item') }}">Add item</a>
</p>

<p>
<a href="{{ url_for('upload') }}">Upload image (beta)</a>
</p>


<h2>Categories</h2>
<ul>
{% for c in categories %}
	<li>
        <a href="{{ url_for('view_category', category_id = c.id) }}">{{ c.name }}</a> ({{ c.id }})
    </li>
{% endfor %}
</ul>

<h2>Items</h2>
<ul>
{% for i in items %}
	<li>
        <a href="{{ url_for('view_item', item_id = i.id) }}">{{ i.name }}</a> ({{ i.id }})
    </li>
{% endfor %}
</ul>

{% endblock %}
