{% extends "main.html" %}
{% block content %}

<h1>Delete item</h1>

<p>
<a href="{{ url_for('view_catalog') }}">Back to catalog</a>
</p>

<form method="POST" enctype="multipart/form-data" action="{{ url_for('delete_item', item_id = item.id) }}">
    <dl>
        <dt><label for="name">Name:</label></dt>
            <dd>
                <input type="text" id="name" name="name" size="50" value="{{ item.name }}" disabled/>
            </dd>
        <dt><label for="description">Description:</label></dt>
            <dd>
                <textarea id="description" name="description" rows="5" cols="50" disabled>{{ item.description }}</textarea>
            </dd>
        <dt><label for="category">Category:</dt>
            <dd>
                <select id="category" name="category_id" disabled>
                    {% for c in categories %}
                    <option value="{{ c.id }}" {% if item.category == c %}selected{% endif %}>{{ c.name }}</option>
                    {% endfor %}
                </select>
            </dd>
        <dt>Image:</dt>
            <dd><img width="300" src="{{ get_image_url(item.image) }}"></dd>
        <dt>Created:</dt>
            <dd>{{ item.created.strftime("%Y-%m-%d %H:%M:%S") }}</dd>
        <dt>Last modified:</dt>
            <dd>{{ item.updated.strftime("%Y-%m-%d %H:%M:%S") }}</dd>
    </dl>
    <input type="submit" value="Delete">
</form>

<p>
<a href="{{ url_for('view_catalog') }}">Cancel</a><br/>
</p>

{% endblock %}
