{% extends "main.html" %}
{% block content %}

<h1>Item: {{ item.name }}</h1>

<p>
<a href="{{ url_for('view_catalog') }}">Back to catalog</a>
</p>

<p>
<a href="{{ url_for('view_category', category_id = item.category_id) }}">Back to category</a>
</p>

<p>
<a href="{{ url_for('view_item_json', item_id = item.id) }}">View json</a>
</p>

<p>
<a href="{{ url_for('edit_item', item_id = item.id) }}">Edit</a>
<a href="{{ url_for('delete_item', item_id = item.id) }}">Delete</a>
</p>

<dl>
    <dt>Name:</dt>
        <dd>{{ item.name }}</dd>
    <dt>Description:</dt>
        <dd>
        {% if item.description %}
            {{ item.description }}
        {% else %}
            &nbsp;
        {% endif %}
        </dd>
    <dt>Category:</dt>
        <dd>{{ item.category.name }}</dd>
    <dt>Image:</dt>
        <dd><img width="300" src="{{ get_image_url(item.image) }}"></dd>
    <dt>Created by:</dt>
        <dd>{{ item.user.name }}</dd>
    <dt>Created on:</dt>
        <dd>{{ item.created.strftime("%Y-%m-%d %H:%M:%S") }}</dd>
    <dt>Last modified:</dt>
        <dd>{{ item.updated.strftime("%Y-%m-%d %H:%M:%S") }}</dd>
</ul>

{% endblock %}
