{% extends "main.html" %}
{% block content %}

<h1>New item</h1>

<p>
<a href="{{ url_for('view_catalog') }}">Back to catalog</a>
</p>

<form method="POST" enctype="multipart/form-data" action="{{ url_for('new_item') }}">
    <dl>
        <dt><label for="name">Name:</label></dt>
            <dd>
                <input type="text" id="name" name="name" size="50"/>
            </dd>
        <dt><label for="description">Description:</label></dt>
            <dd>
                <textarea id="description" name="description" rows="5" cols="50"></textarea>
            </dd>
        <dt><label for="category">Category:</dt>
            <dd>
                <select id="category" name="category_id">
                    {% for c in categories %}
                    <option value="{{ c.id }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
            </dd>
        <dt><label for="image">Image:</dt>
            <dd>
                <input type="file" name="image">
            </dd>
    </dl>
    <input type="submit" value="Create">
</form>

<p>
<a href="{{ url_for('view_catalog') }}">Cancel</a><br/>
</p>

{% endblock %}
